html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.m-1 {
  margin: 1rem;
}

@keyframes animate {
  from {
    background-color: #fff;
  }
  to {
    background-color: yellow;
  }
}
.highLight {
  animation: animate 0.5s ease-in infinite alternate;
  color: #000;
  transform: translateZ(0);
}
